#press {
    .contsDetail {
        > div {
            border-bottom: 1px solid #ccc;
            &:last-child {
                border-bottom: 0;
            }
            .detailTitle {
                margin-bottom: 20px;
            }
            .detailSubText {
                font-size: 2.2rem;
                margin-bottom: 80px;
                line-height: 1.4;
                word-break: keep-all;
            }
        }
        .content1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            .boardWrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                .boardTop {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    .boardNum {
                        font-size: 2rem;
                        font-weight: 400;
                        margin-bottom: 0;
                        span {
                            color: $orange;
                            font-weight: 600;
                        }
                    }
                    .searchForm {
                        display: flex;
                        align-items: center;
                        .festivalSearch {
                            width: 350px;
                            height: 50px;
                            box-sizing: border-box;
                            padding: 15px;
                            border: 1px solid #ccc;
                            margin-right: 5px;
                            &::placeholder {
                                font-size: 1.6rem;
                                line-height: 1;
                                color: #999;
                            }
                        }
                        .searchBtn {
                            width: 50px; height: 50px;
                            box-sizing: border-box;
                            border: 0;
                            background: #4A5677;
                            color: #fff;
                        }
                    }
                }
                .boardBot {
                    width: 100%;
                    border-top: 2px solid #4A5677;
                    border-bottom: 2px solid #4A5677;
                    margin-bottom: 40px;
                    .boradList {
                        padding: 40px 20px;
                        border-bottom: 1px solid #ccc;
                        &:last-child {
                            border-bottom: 0;
                        }
                        &:hover {
                            a {
                                .imgWrap {
                                    img {
                                        transform: translate(-50%, -50%) scale(1.1);
                                    }
                                }
                                .infoWrap {
                                    .title {
                                        color: #4A5677;
                                    }
                                    .infoBot {
                                        .moreView {
                                            color: #fff;
                                            background: #4A5677;
                                            border-color: #4A5677;
                                        }
                                    }
                                }
                            }
                        }
                        a {                        
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .imgWrap {
                                width: 35%; height: 300px;
                                border-radius: 0 30px 0 30px;
                                border: 1px solid #ddd;
                                overflow: hidden;
                                position: relative;
                                img {
                                    width: 100%; height: 100%;
                                    position: absolute;
                                    top: 50%; left: 50%;
                                    transform: translate(-50%, -50%) scale(1);
                                    transition: all 0.5s;
                                }
                            }
                            .infoWrap {
                                width: 60%;
                                .title {
                                    color: #000;
                                    font-size: 2.6rem;
                                    margin-bottom: 20px;
                                    transition: all 0.5s;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                }
                                .context {
                                    width: 100%;
                                    color: #000;
                                    font-size: 1.8rem;
                                    font-weight: 300;
                                    line-height: 1.6;
                                    margin-bottom: 60px;
                                    word-break: keep-all;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                }
                                .infoBot {
                                    display: flex;
                                    justify-content: flex-end;
                                    .moreView {
                                        display: inline-block;
                                        color: #999;
                                        background: #fff;
                                        font-size: 1.6rem;
                                        border: 1px solid #ccc;
                                        padding: 15px 30px;
                                        border-radius: 5px;
                                        cursor: pointer;
                                        transition: all 0.5s;                                    
                                    }
                                }
                            }
                        }
                    }
                }
    
                .boardBtns {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 20px;
                    .newPost {
                        font-size: 1.6rem;
                        background: #ccc;
                        padding: 15px 40px;
                        color: #Ffff;
                        border-radius: 5px;
                        transition: all 0.5s;
                        &:hover {
                            background: #4A5677;
                        }
                    }
                }
            }

            .pagenation {
                display: flex;
                align-items: center;
                a {
                    display: inline-block;
                    width: 40px; height: 40px;
                    border: 1px solid #ccc;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 4px;
                    color: #999;
                    transition: all 0.5s;
                    &:hover {                        
                        color: #4A5677;
                        border-color: #4A5677;
                    }
                }
                a.active {
                    color: #fff;
                    border-color: #4A5677;
                    background: #4A5677;
                }
                .numberWrap {
                    display: flex;
                    a {
                        font-size: 1.6rem;
                    }
                }
            }

            .pagenationM {
                display: none;
            }
        }
    }
}

@media screen and (max-width:768px) {
    #press {
        .contsDetail {
            .content1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                .boardWrap {
                    display: block;
                    .boardTop {
                        width: 100%;
                        display: block;
                        margin-bottom: 20px;
                        .boardNum {
                            font-size: 1.8rem;
                            font-weight: 400;
                            margin-bottom: 10px;
                            span {
                                color: $orange;
                                font-weight: 600;
                            }
                        }
                        .searchForm {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .festivalSearch {
                                width: 83%;
                                height: 50px;
                                padding: 10px;
                                margin-right: 0;
                                &::placeholder {
                                    font-size: 1.6rem;
                                }
                            }
                            .searchBtn {
                                width: 15%; height: 50px;
                            }
                        }
                    }
                    .boardBot {
                        margin-bottom: 20px;
                        .boradList {
                            padding: 40px 0;
                            a {                        
                                display: block;
                                .imgWrap {
                                    width: 100%; height: 200px;
                                    border-radius: 10px;
                                    margin-bottom: 20px;
                                }
                                .infoWrap {
                                    width: 100%;
                                    padding: 10px;
                                    box-sizing: border-box;
                                    .title {
                                        font-size: 2.6rem;
                                        margin-bottom: 10px;
                                    }
                                    .context {
                                        font-size: 1.8rem;
                                        margin-bottom: 20px;
                                    }
                                    .infoBot {
                                        display: block;
                                        .detailInfo {
                                            font-size: 1.6rem;
                                        }
                                        .moreView {
                                            display: none;              
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .boardBtns {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 40px;
                    .newPost {
                        font-size: 1.6rem;
                        background: #ccc;
                        padding: 15px 40px;
                        color: #Ffff;
                        transition: all 0.5s;
                        &:hover {
                            background: #4A5677;
                        }
                    }
                }
    
                .pagenation {
                }
            }
        }
    }
}