#header {
    position: fixed;
    width: 100vw;
    top: 0; left: 0;
    z-index: 999;
    background: #fff;
    transition: all 0.5s;
    .gnbBg {
        position: fixed;
        width: 100%; height: 0;
        top: 0; left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
    }    
    .headerConts {
        width: 100%; height: 90px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #ccc;
        position: relative;
        z-index: 10;
        .center {
            width: $centerWid;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                width: 160px;
                position: relative;
                img {
                    position: absolute;
                    top: 50%; left: 0;
                    transform: translateY(-50%);
                    width: 100%;
                }
                .logoWH {
                    opacity: 0;
                    transition: all 0.5s;
                }
                .logoBK {
                    opacity: 1;
                    transition: all 0.5s;
                }
            }
            .menuWrap {
                .gnb {
                    width: 1000px;
                    display: flex;
                    > li { 
                        width: 20%; height: 100%;
                        position: relative;
                        text-align: center;
                        &:last-child {                                
                            .subGnb {
                                border-right: 1px solid #ddd;
                            }
                        }
                        &:hover {
                            > a {
                                color: #d22a49;
                            }
                            .subGnb {
                                &::before {                                    
                                    width: 100%; height: 4px;
                                    background: linear-gradient(90deg, #d22a49 30%, $orange);
                                }
                                > li {
                                    a {
                                        color: #000;
                                    }
                                }
                            }
                        }
                        > a {
                            text-align: center;
                            display: inline-block;
                            width: 100%;
                            color: #000;
                            font-size: 2rem;
                            font-weight: 500;
                            padding: 15px 0;
                            transition: all 0.5s;
                            &:hover {
                                color: #d22a49;
                            }
                        }
                        .subGnb {
                            width: 100%; height: 0;
                            opacity: 0;
                            position: absolute;
                            top: 72px;
                            border-left: 0;
                            box-sizing: border-box;
                            overflow: hidden;
                            transition: all 0.5s;
                            &::before {
                                content: "";
                                display: block;
                                width: 0%; height: 4px;
                                background: linear-gradient(90deg, transparent);
                                transition: all 0.4s;
                            }
                            > li {
                                width: 100%;
                                box-sizing: border-box;
                                &:hover {
                                    a {
                                        background: rgba(210, 42, 73, 0.08);
                                    }
                                }
                                a {
                                    display: inline-block;
                                    width: 100%; height: 60px;
                                    font-size: 1.8rem;
                                    font-weight: 400;
                                    color: #888;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: all 0.5s;
                                }
                            }
                        }
                    }
                }
            }
            .joinWrap {
                display: flex;
                align-items: center;
                .loginName {
                    font-size: 16px;
                    font-weight: 300;
                    color: #000;
                }
                a {
                    display: inline-block;
                    font-size: 1.2rem;
                    font-weight: 300;
                    color: #666;
                    background: #f9f9f9;
                    border: 1px solid  transparent;
                    padding: 10px 22px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    margin-left: 10px;
                    transition: all 0.5s;
                    &:hover {
                        background: #4A5677;
                        color: #000;
                    }
                    img {
                        filter: invert(100%);
                    }
                }
            }
            .joinDetail {
                position: fixed;
                top: 0; left: 0;
                width: 100%;
                height: 0;
                overflow: hidden;
                opacity: 0;
                background: rgba(0,0,0,0.3);
                transition: all 0.5s;
                .center {
                    width: 450px; height: 400px;
                    position: absolute;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                    background: #Fff;
                    display: block;
                    .top {
                        padding: 20px;
                        box-sizing: border-box;
                        background-color: #4A5677;
                        color: #fff;
                        font-size: 1.8rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        a {
                            color: #fff;
                        }
                    }
                    .bottom {
                        padding: 20px 40px;
                        box-sizing: border-box;
                        text-align: center;
                        img {
                            display: inline-block;
                            margin: 0 auto 40px;
                        }
                        input {
                            display: block;
                            width: 100%;
                            height: 45px;
                            box-sizing: border-box;
                            padding: 10px;
                            margin-bottom: 10px;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                        }
                        button {
                            display: inline-block;
                            background: #4A5677;
                            border: 0;
                            outline: none;
                            color: #fff;
                            font-size: 1.6rem;
                            font-weight: 300;
                            padding: 12px 40px;
                            margin-top: 20px;
                            border-radius: 5px;
                            cursor: pointer;
                            &:hover {
                                background: $orange;
                            }
                        }
                    }
                }
            }
        }
    } 
    .headerConts_m {
        display: none;
    }
}

#header.on {
    background: transparent;
    .center {
        .logo {
            .logoWH {
                opacity: 1;
            }
            .logoBK {
                opacity: 0;
            }
        }
        .menuWrap {
            .gnb {
                > li {
                    > a {
                        color: #fff;
                    }
                }
            }
        }
        .joinWrap {
            .loginName {
                color: #fff;
            }
            a {
                color: #fff;
                border: 1px solid #ccc;
                background: transparent;
            }
        }
    }
}

#header.show {
    .gnbBg {
        height: 410px;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    }
    .headerConts {
        .center {
            .menuWrap {
                .gnb {
                    > li { 
                        .subGnb {
                            height: 320px;
                            border-left: 1px solid #ddd;
                            opacity: 1;
                        }
                    }
                }
            }
            .joinWrap {
                a {
                    background: transparent;
                    border: 1px solid #ccc;
                    &:hover {
                        background: #4A5677;
                        border-color: #4A5677;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// 태블릿 반응형
@media screen and (max-width:1200px) {    
    #header {
        height: 80px;
        background: #fff;
        .gnbBg, .gnbBg.on, .headerConts {
            display: none;
        }
        
        .headerConts_m {
            width: 100%;
            display: flex;
            justify-content: center;
            .commonHead {
                width: 100%; height: 80px;
                box-sizing: border-box;
                padding: 0 5%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                z-index: 999;
                border-bottom: 1px solid #ccc;
                transition: all 0.5s;
                .logo {
                    width: 150px;
                    position: relative;
                    img {
                        position: absolute;
                        top: 50%; left: 0;
                        transform: translateY(-50%);
                        width: 100%;
                        transition: all 0.5s;
                    }
                    .logoWH {
                        opacity: 0;
                    }
                    .logoBK {
                        opacity: 1;
                    }
                }
                .hamGnb {
                    position: relative;
                    width: 50px; height: 50px;
                    span.menuIcon {
                        position: absolute;
                        top: 50%; right: 0;
                        transform: translateY(-50%);
                        font-size: 4rem;
                        color: #000;
                        font-variation-settings: "wght" 200;
                        margin-top: 4px;
                        transition: all 0.5s;
                    }
                    span.hamMenu {
                        opacity: 1;
                        margin-top: 4px;
                        z-index: 10;
                    }
                    span.close {
                        opacity: 0;
                        z-index: 0;
                    }
                }
            }
            .mobileWrap {
                width: 100%; height: 0;
                overflow: hidden;
                position: fixed;
                top: 0; left: 0;
                background: transparent;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding-top: 0;
                transition: all 0.5s;
                .joinWrap {
                    width: 100%;
                    background: #eee;
                    box-sizing: border-box;
                    padding: 30px 8%;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #ccc;
                    img {
                        display: inline-block;
                        width: 50px; height: 50px;
                        margin-right: 20px;
                    }
                    .joinBtns {
                        a {
                            display: inline-block;
                            color: #fff;
                            font-size: 1.4rem;
                            font-weight: 300;
                            background: #000;
                            padding: 10px 30px;
                            margin-right: 10px;
                            border-radius: 5px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                        p {
                            font-size: 1.4rem;
                            line-height: 1.4;
                            font-weight: 300;
                            margin-top: 10px;
                            word-break: keep-all;
                        }

                    }
                }
                
                .joinDetail {
                    position: fixed;
                    top: 0; left: 0;
                    width: 100%;
                    height: 0;
                    overflow: hidden;
                    opacity: 0;
                    background: rgba(0,0,0,0.3);
                    transition: all 0.5s;
                    z-index: 999;
                    .center {
                        width: 40%; height: 400px;
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                        background: #Fff;
                        display: block;
                        .top {
                            padding: 20px;
                            box-sizing: border-box;
                            background-color: #4A5677;
                            color: #fff;
                            font-size: 1.8rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            a {
                                color: #fff;
                            }
                        }
                        .bottom {
                            padding: 20px 40px;
                            box-sizing: border-box;
                            text-align: center;
                            img {
                                display: inline-block;
                                margin: 0 auto 40px;
                            }
                            input {
                                display: block;
                                width: 100%;
                                height: 45px;
                                box-sizing: border-box;
                                padding: 10px;
                                margin-bottom: 10px;
                                border: 1px solid #ccc;
                                border-radius: 5px;
                            }
                            button {
                                display: inline-block;
                                background: #4A5677;
                                border: 0;
                                outline: none;
                                color: #fff;
                                font-size: 1.6rem;
                                font-weight: 300;
                                padding: 12px 40px;
                                margin-top: 20px;
                                border-radius: 5px;
                                cursor: pointer;
                                &:hover {
                                    background: $orange;
                                }
                            }
                        }
                    }
                }
                .gnbM {
                    width: 100%;
                    > li {
                        width: 100%;
                        border-bottom: 1px solid #ddd;
                        > a {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            color: #000;
                            width: 100%;
                            padding: 30px 8%;
                            box-sizing: border-box;
                            font-size: 2.2rem;
                            transition: all 0.5s;
                            .arrowsWrap {
                                position: relative;
                                span.arrow {
                                    position: absolute;
                                    top: 50%; right: 0;
                                    transform: translateY(-50%);
                                    font-size: 5rem;
                                    font-variation-settings: "wght" 200;
                                    margin-top: 1px;
                                    transition: all 0.5s;
                                }
                                span.down {
                                    opacity: 1;
                                }
                                span.up {
                                    opacity: 0;
                                }
                            }
                        }
                        .subGnb {
                            width: 100%; height: 0;
                            overflow: hidden;
                            transition: all 1s;
                            > li {
                                height: 70px;
                                box-sizing: border-box;
                                display: flex;
                                align-items: center;
                                border-bottom: 1px solid #ddd;
                                &:last-child {                                    
                                    border-bottom: 0;
                                }
                                > a {
                                    display: block;
                                    width: 100%;
                                    font-size: 1.8rem;
                                    color: #666;
                                    font-weight: 300;
                                    padding: 25px 8%;
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }
                    > li.off {
                        > a {
                            color: #999;
                            background: #f4f4f4;
                        }
                    }
                    > li.on {
                        > a {
                            color: #fff;
                            background: #4A5677;
                            span.down {
                                opacity: 0;
                            }
                            span.up {
                                opacity: 1;
                            }
                        }
                        .subGnb {
                            > li {
                                > a {
                                    color: #000;
                                    background: #fff;
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .headerConts_m.on {
            .commonHead {
                background: #fff;
                .logo {
                    .logoWH {
                        opacity: 0;
                    }
                    .logoBK {
                        opacity: 1;
                    }
                }
                .hamGnb {
                    span.menuIcon {
                        color: #000;
                    }
                    span.hamMenu {
                        opacity: 0;
                        z-index: 0;
                    }
                    span.close {
                        opacity: 1;
                        z-index: 10;
                    }
                }
            }
            .mobileWrap {
                height: 100vh;
                background: #fff;
                padding-top: 80px;
            }
        }
    }
}

// 모바일 반응형
@media screen and (max-width:768px) {    
    #header {
        .gnbBg, .gnbBg.on, .headerConts {
            display: none;
        }
        
        .headerConts_m {
            width: 100%; 
            .commonHead {
                width: 100%; height: 80px;
                padding: 0 5%;
                .logo {
                    width: 120px;
                }
                .hamGnb {
                    width: 50px; height: 50px;
                    span.menuIcon {
                        font-size: 4rem;
                    }
                }
            }
            .mobileWrap {
                padding-top: 80px;                
                .joinBtns {
                    p {
                        padding-right: 40px;
                    }

                }
                
                
                .joinDetail {
                    .center {
                        width: 90%; height: 400px;
                    }
                }
                .gnbM {
                    width: 100%;
                    > li {
                        width: 100%;
                        > a {
                            width: 100%;
                            padding: 20px 8%;
                            font-size: 2.2rem;
                            span.down {
                                font-size: 4rem;
                            }
                        }
                        .subGnb {
                            > li {
                                height: 57px;
                                > a {
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }
                    > li.off {
                        > a {
                            color: #999;
                            background: #f4f4f4;
                        }
                    }
                    > li.on {
                        > a {
                            color: #fff;
                            background: #4A5677;
                        }
                        .subGnb {
                            height: auto;
                            > li {
                                > a {
                                    color: #000;
                                    background: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .mobileWrap.on {
                height: 100vh;
            }
            
        }
    }
}