#ceoGreet {
    .contsDetail {
        > div {
            border-bottom: 1px solid #ccc;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            &:last-child {
                border-bottom: 0;
            }
        }
        .content1 {
            .contsLeft {
                width: 70%;
            }
            .contsRight {
                width: 25%;
                .ceoSign {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                    p {
                        font-size: 2rem;
                        font-weight: 500;
                    }
                    img {
                        margin-left: 20px;
                    }
                }
            }
        }
        .content2 {
            .detailTitle {
                margin: 60px 0px 40px;
            }
            .listWrap {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .list {
                    width: calc((100% - 60px) / 4);
                    box-sizing: border-box;
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transition: all 0.5s;
                    &:nth-last-child(1){
                        margin-bottom: 0;
                    }
                    .num {
                        width: 100%;
                        font-size: 2rem;
                        color: $orange;
                        display: flex;
                        align-items: center;
                        &::before {
                            content: url(../img/ico_left_ceo.svg);
                            height: 100%;
                        }
                        &::after {
                            content: url(../img/ico_left_ceo.svg);
                            height: 100%;
                            transform: scaleX(-1);
                        }
                        span {
                            display: inline-block;
                            font-size: 2.4rem;
                            font-weight: 500;
                            color: $orange;
                            transform: translateY(-8px);
                        }
                    }
                    .name {
                        font-size: 2.4rem;
                        font-weight: 500;
                        color: #000;
                        margin: 20px 0;
                    }
                    .period {
                        color: #999;
                        font-size: 1.8rem;
                    }
                }
                .list.on {
                    padding: 30px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    border: 1px solid #ccc;
                    height: auto;
                    opacity: 1;
                    &:nth-child(4n){
                        margin-right: 0;
                    }
                }
            }
            .load_more {
                display: inline-block;
                margin: 40px auto 0;
                background: #fff;
                color: #999;
                border: 1px solid #ccc;
                outline: none;
                border-radius: 5px;
                padding: 15px 50px;
                font-size: 1.6rem;
                cursor: pointer;
                transition: all 0.5s;
                &:hover {
                    background: #4A5677;
                    border: 1px solid #4A5677;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width:1200px){
    #ceoGreet {
        .contsDetail {
            .content1 {
                .contsLeft {
                    width: 100%;
                    p {                        
                        &:last-child {
                            width: 60%;
                        }
                    }
                }
                .contsRight {
                    width: 100%;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: flex-end;
                    position: relative;
                    bottom: 80px;
                    .ceoSign {
                        margin-top: 0;
                        margin-right: 20px;
                        p {
                            font-size: 2rem;
                            font-weight: 500;
                        }
                        img {
                            margin-left: 20px;
                        }
                    }
                }
            }
            .content2 {
                .listWrap {
                    .list {
                        width: calc((100% - 40px) / 3);
                        box-sizing: border-box;
                        &:nth-last-child(1){
                            margin-bottom: 0;
                        }
                        .num {
                            width: 100%;
                            font-size: 2rem;
                            color: $orange;
                            display: flex;
                            align-items: center;
                            margin-bottom: 20px;
                            &::before {
                                content: url(../img/ico_left_ceo.svg);
                                height: 100%;
                            }
                            &::after {
                                content: url(../img/ico_left_ceo.svg);
                                height: 100%;
                                transform: scaleX(-1);
                            }
                            span {
                                display: inline-block;
                                font-size: 2.4rem;
                                color: $orange;
                                margin-bottom: 6px;
                            }
                        }
                        .name {
                            font-size: 2.4rem;
                            font-weight: 500;
                            color: #000;
                            margin-bottom: 20px;
                        }
                        .period {
                            color: #999;
                            font-size: 1.8rem;
                        }
                    }
                    .list.on {
                        padding: 30px;
                        margin-right: 20px;
                        margin-bottom: 20px;
                        &:nth-child(4n){
                            margin-right: 20px;
                        }
                        &:nth-child(3n){
                            margin-right: 0;
                        }
                    }
                }
                .load_more {
                    margin: 40px auto 0;
                    padding: 15px 50px;
                }
            }
        }
    }
}

@media screen and (max-width:768px){
    #ceoGreet {
        .contsDetail {
            .content1 {
                .contsLeft {
                    width: 100%;
                    > p {
                        &:last-child {                                    
                            width: 100%;
                        }
                    }
                }
                .contsRight {
                    width: 100%;
                    display: block;
                    position: relative;
                    bottom: 0;
                    margin-top: 20px;
                    text-align: center;
                    > img {
                        width: 80%;
                    }
                    .ceoSign {
                        margin-top: 20px;
                        margin-right: 0;
                        p {
                            font-size: 2rem;
                            font-weight: 500;
                            margin-right: 10px;
                        }
                        img {
                            margin-left: 0;
                        }
                    }
                }
            }
            .content2 {
                .listWrap {
                    justify-content: space-between;
                    .list {
                        width: 100%;
                        margin-right: 0;
                        .num {
                            width: 100%;
                            color: $orange;
                            display: flex;
                            align-items: center;
                            margin-bottom: 20px;
                            &::before {
                                content: url(../img/ico_left_ceo.svg);
                                height: 100%;
                            }
                            &::after {
                                content: url(../img/ico_left_ceo.svg);
                                height: 100%;
                                transform: scaleX(-1);
                            }
                            span {
                                display: inline-block;
                                font-size: 2.2rem;
                                color: $orange;
                                margin-bottom: 6px;
                            }
                        }
                        .name {
                            font-size: 2.2rem;
                            font-weight: 500;
                            color: #000;
                            margin-bottom: 20px;
                        }
                        .period {
                            color: #999;
                            font-size: 1.8rem;
                        }
                    }
                    .list.on {
                        padding: 30px;
                        margin-bottom: 20px;                    
                        margin-right: 0;
                        &:nth-child(3n){
                            margin-right: 0;
                        }
                        &:nth-child(4n){
                            margin-right: 0;
                        }
                        &:nth-last-child(1){
                            margin-right: 0;
                        }
                    }
                }
                .load_more {
                    margin: 20px auto 0;
                    padding: 15px 50px;
                }
            }
        }
    }
}