    <div id="footer">
        <div class="center">
            <div class="fTop">
                <div class="flogo">
                    <img src="/img/logoBK.png" alt="">
                </div>
                
                <ul class="fmenu">
                    <li><a href="/ceoGreet">기관소개</a></li>
                    <li><a href="/business01">주요사업</a></li>
                    <li><a href="/festival">추천행사</a></li>
                    <li><a href="/notice">알림마당</a></li>
                    <li><a href="/smart_inquiry">국민참여</a></li>
                </ul>
                
                <div class="fmenu_m">
                    <a class="menuBtn" href="#">한국관광공사 메뉴<span class="material-symbols-outlined">
                        keyboard_arrow_down</span></a>
                    <ul class="menu_m">
                        <li><a href="/ceoGreet">기관소개</a></li>
                        <li><a href="/business01">주요사업</a></li>
                        <li><a href="/festival">추천행사</a></li>
                        <li><a href="/notice">알림마당</a></li>
                        <li><a href="/smart_inquiry">국민참여</a></li>
                    </ul>
                </div>
            </div>

            <div class="fBot">
                <div class="finfo">
                    <p class="info">
                        <strong>한국관광공사</strong> 
                        26464 강원도 원주시 세계로 10 한국관광공사 | TEL : 033-738-3000 | 통신판매업신고 : 제2022-강원원주-0381호
                        <span class="copyright">Copyright © 한국관광공사. All rights reserved.</span></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>