<ul class="location">
    <li class="locaLink">
        <a href="#">Home</a>
    </li>
    <li class="locaArrow"><span  class="material-symbols-outlined">
        navigate_next</span></li>
    <li class="locaLink">
        <a href="#">주요사업</a>
    </li>
    <li class="locaArrow"><span  class="material-symbols-outlined">
        navigate_next</span></li>
    <li class="locaLink">
        <a href="#">국제관광지원</a>
    </li>
</ul>