<ul class="contsMenu">
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
</ul>
<div class="contsMenuM">
    <a href="#">
        <span class="btnText"></span>
        <div class="arrowWrap">
            <span class="material-symbols-outlined arrow down">keyboard_arrow_down</span>
            <span class="material-symbols-outlined arrow up">keyboard_arrow_up</span>
        </div>
    </a>
    <ul class="mobileMenu">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
    </ul>
</div>