<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>주요사업 - 관광산업지원</title>
    <script src="/js/window.js" defer></script>
    <script src="/js/header.js" defer></script>
    <script src="/js/subPage.js" defer></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("../header") %>

    <div id="business03" class="business">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">주요사업</h2>
                    <p class="topSubTit">International Tourism Support</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">
                <ul class="location">
                    <li><a href="#">Home</a></li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">주요사업</a>
                    </li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">관광산업지원</a>
                    </li>
                </ul>
                <div class="contTitleWrap">
                    <h2 class="contsTitle">관광산업지원</h2>
                    <p class="contSubTitle">다양한 지원사업을 통해 대한민국의 관광산업을 활성화시키기 위해 노력합니다.</p>
                </div>

                <div class="contsWrap">
                    <ul class="contsMenu">
                        <li class="active"><a href="/business01">국제관광지원</a></li>
                        <li><a href="/business02">국민관광지원</a></li>
                        <li><a href="/business03">관광산업지원</a></li>
                        <li><a href="/business04">디지털전환지원</a></li>
                    </ul>

                    <div class="contsMenuM">
                        <a href="#">
                            <span>CEO 인사말</span>
                            <div class="arrowWrap">
                                <span class="material-symbols-outlined arrow down">keyboard_arrow_down</span>
                                <span class="material-symbols-outlined arrow up">keyboard_arrow_up</span>
                            </div>
                        </a>
                        <ul class="mobileMenu">
                            <li class="active"><a href="business01">국제관광지원</a></li>
                            <li><a href="business02">국민관광지원</a></li>
                            <li><a href="business03">관광산업지원</a></li>
                            <li><a href="business04">디지털전환지원</a></li>
                        </ul>
                    </div>

                    <div class="contsDetail">
                        <div class="content1">
                            <h2 class="detailTitle">사업개요</h2>
                            <p class="detailSubText">한국관광공사는 민간이 주도하고 지역이 발전하는 관광산업 성장을 지원합니다.</p>

                            <div class="conts direction">
                                <h3><span>1) 사업 추진 <strong>전략방향</strong></span></h3>
                                <div class="directionWrap">
                                    <div class="list">
                                        <div class="listImg">
                                            <img src="/img/business03_img1.png" alt="">
                                        </div>
                                            
                                        <div class="listText">
                                            <h5>관광 서비스 기반 조성으로<br><strong>여행 편의 및 만족도 향상</strong></h5>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="listImg">
                                            <img src="/img/business03_img2.jpg" alt="">
                                        </div>
                                            
                                        <div class="listText">
                                            <h5>글로벌 진출 확대로<br><strong>관광기업 성과 창출 강화</strong></h5>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="listImg">
                                            <img src="/img/business03_img3.jpg" alt="">
                                        </div>
                                            
                                        <div class="listText">
                                            <h5>미래관광 선도를 위한<br><strong>현장 중심 인재양성 강화</strong></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="conts task">
                                <h3><span>2) 사업 추진 <strong>전략과제</strong></span></h3>
                                <div class="taskWrap">                                    
                                    <div class="taskList">
                                        <div>
                                            <span></span>
                                            <p>여행하기 좋은 관광 서비스 환경 조성</p>
                                        </div>
                                        <div>
                                            <span></span>
                                            <p>관광업계 서비스 경쟁력 강화</p>
                                        </div>
                                        <div>
                                            <span></span>
                                            <p>스마트관광도시 지역 확산 및 고도화</p>
                                        </div>
                                    </div>                                    
                                    <div class="taskList">
                                        <div>
                                            <span></span>
                                            <p>관광 기업 육성 클러스터 활성화</p>
                                        </div>
                                        <div>
                                            <span></span>
                                            <p>혁신 관광기업의 해외 시장 진출 지원</p>
                                        </div>
                                        <div>
                                            <span></span>
                                            <p>관광기업 간 협업 및 비즈니스 혁신 촉진</p>
                                        </div>
                                    </div>                                    
                                    <div class="taskList">
                                        <div>
                                            <span></span>
                                            <p>산업 현장형,지역 맞춤형 인재 육성 및 취업 연계 강화</p>
                                        </div>
                                        <div>
                                            <span></span>
                                            <p>관광기업 및 (예비)종사자 교육 콘텐츠 개발·운영</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="conts push">
                                <h3><span>3) 사업 <strong>추진방향</strong></span></h3>
                                <div class="pushWrap">
                                    <div class="list">
                                        <div class="listText">
                                            <h5>① 관광산업 지원</h5>
                                        </div>
                                        
                                        <p>1330 관광안내 서비스 디지털화 및 상담 데이터 축적·활용, 국내외 관광객 대상 홍보 강화로 서비스 접근성 및 편리성 제고</p>
                                        <p>FIT 관광 접근성 제고를 위한 지자체 맞춤형 지역 관광교통 개선 지원</p>
                                        <p>합법 민박 활성화, 매력 있는 전통한옥 홍보로 안전하고 특색 있는 숙박 인프라 조성 지원</p>
                                        <p>쇼핑관광 편의 제고 및 지역 쇼핑 콘텐츠 홍보로 지역관광 활성화 유도</p>
                                        <p>음식관광 인프라 고도화 및 미식관광 콘텐츠 발굴·활성화</p>
                                        <p>여행업계 디지털 전환 지원으로 디지털 기반 관광 서비스 확산 촉진</p>
                                        <p>유망 관광기념품 발굴·컨설팅·판로 개척 지원으로 한국 대표 관광기념품 육성</p>
                                    </div>
                                    <div class="list">
                                        <div class="listText">
                                            <h5>② 관광기업 지원</h5>
                                        </div>
                                        
                                        <p>관광기업 원스톱 지원 서비스 강화 등 서울/지역 관광기업지원센터 역할·기능 고도화</p>
                                        <p>관광기업, 지자체, 글로벌기업, 투자자 등 관광산업 생태계 주체 간 협업 사업 활성화 지원</p>
                                        <p>혁신적인 관광기업의 해외 진출 지원을 통한 유니콘 관광기업으로의 성장 견인</p>
                                        <p>한류·지역관광 홍보 거점화, 관광업계 간 교류 및 지원 기능 강화</p>
                                    </div>
                                    <div class="list">
                                        <div class="listText">
                                            <h5>③ 관광인재 육성</h5>
                                        </div>
                                        
                                        <p>코로나 19이후 관광산업 재도약 위한 구인기업-구직자 대상 맞춤형 매칭 및 구직자 취업역량 강화로 업계 인력난 해소 지원</p>
                                        <p>업계·유관기관·학교 등 전방위적으로 활용 가능한 교육플랫폼 운영으로 관광교육 수요의 획기적 확대</p>
                                        <p>디지털 역량강화 콘텐츠 개발 및 맞춤형 교육으로 관광기업의 미래 시장 대응력 강화</p>
                                        <p>디지털·빅데이터 기반 관광산업 혁신을 주도할 수 있도록 현직자, 예비종사자 대상 융합형, 실무형 인재양성</p>
                                    </div>   
                                    <div class="list">
                                        <div class="listText">
                                            <h5>④ 스마트 관광도시 조성</h5>
                                        </div>
                                        
                                        <p>흥미롭고 매력적인 스마트경험 확산 및 편의 제고를 통한 국내외 여행객 만족도 제고</p>
                                        <p>스마트관광 생태계 주체 간 연결 및 협업 촉진을 통한스마트관광 산업 생태계 활성화</p>
                                        <p>스마트관광 표준모델 고도화 및 지자체 스마트관광 역량강화지원을 통해 지역 스마트관광 자발적 확산 촉진</p>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>