<%- include("../header", {jsFiles: ["subPage.js"]}) %>

    <div id="business01" class="business">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">주요사업</h2>
                    <p class="topSubTit">International Tourism Support</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">
                <%- include("../subPageLocation.ejs") %>
                
                <div class="contTitleWrap">
                    <h2 class="contsTitle">국제관광지원</h2>
                    <p class="contSubTitle">다양한 지원사업을 통해 대한민국의 관광산업을 활성화시키기 위해 노력합니다.</p>
                </div>

                <div class="contsWrap">
                    <%- include("../subPageMenus.ejs") %>

                    <div class="contsDetail">
                        <div class="content1">
                            <h2 class="detailTitle">사업개요</h2>
                            <p class="detailSubText">한국관광공사는 코로나19로 인해 침체된 방한관광시장의 조기 회복과 재도약을 위해 노력합니다.</p>

                            <div class="conts direction">
                                <h3><span>1) 사업 추진 <strong>전략방향</strong></span></h3>
                                <div class="direction">
                                    <div class="list">
                                        <span class="material-symbols-outlined directionIcon">
                                            menu_book</span>
                                            
                                        <div class="listText">
                                            <h5>매력적인 스토리</h5>
                                            <p>가치있는 경험을 위한 한국관광 콘텐츠 발굴</p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <span class="material-symbols-outlined directionIcon">
                                            my_location</span>
                                        <div class="listText">
                                            <h5>세분화된 포지셔닝
                                            </h5>
                                            <p>전략적 맞춤형 마케팅으로 K-관광 경쟁력 강화</p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <span class="material-symbols-outlined directionIcon">
                                            magic_button</span>
                                        <div class="listText">
                                            <h5>차별화된 브랜딩</h5>
                                            <p>전방위 수요창출을 통한 방한 관광시장 재도약</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="conts task">
                                <h3><span>2) 사업 추진 <strong>전략과제</strong></span></h3>
                                <div class="taskWrap">
                                    <div class="list">
                                        <ul>
                                            <li>고부가 RT수요확대를 위한 관광상품 다각화</li>
                                            <li>새로운 여행경험, 지속 가능 콘텐츠 확대</li>
                                            <li>K-콘텐츠를 활용한 한국관광 스토리 확산</li>
                                        </ul>
                                    </div>
                                    <div class="list">
                                        <ul>
                                            <li>방한 수요 확대 가능한 전략적 시장 다변화</li>
                                            <li>새로운 타깃 맞춤형 방한관광 관심 확대</li>
                                            <li>글로벌 네트워크 기반 미래형 MICE시장 선도</li>
                                        </ul>
                                    </div>
                                    <div class="list">
                                        <ul>
                                            <li>디지털 플랫폼을 활용한 한국관광 수요 촉진</li>
                                            <li>민-관 협력을 통한 방한 프로모션 확대</li>
                                            <li>지방관광 브랜딩 강화로 외래객 유치 활성화</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="conts push">
                                <h3><span>3) 사업 <strong>추진방향</strong></span></h3>
                                <div class="pushWrap">
                                    <div class="list">
                                        <div class="listText">
                                            <h5>① 국제 마케팅 지원</h5>
                                        </div>
                                        
                                        <p>중국에 대한 의존도를 낮추고 국경이 개방된 일본,홍콩,대만 등 역내 관광시장 집중 유치, 동남아 및 구미주로의 방한관광 전략적 시장 다변화 추진</p>
                                        <p>지역관광 브랜딩 강화, 지방공항 활용 유치 활성화 등 수도권 중심의 외래 관광객 수요를 지방으로 분산시켜 2027년 외래 관광객 3천만명 유치기반 마련</p>
                                        <p>대중문화 중심 K-콘텐츠를 전통/생활문화 유산 및 일상의 문화로 확산하기 위한 특색있는 한국관광 콘텐츠 발굴 및 스토리텔링</p>
                                        <p>방한관광 양적 질적 성장 모드를 통한 고부가가치 창출로 관광 수지 적자 개선에 기여</p>
                                    </div>
                                    <div class="list">
                                        <div class="listText">
                                            <h5>② 콘텐츠 개발 및 마케팅</h5>
                                        </div>
                                        
                                        <p>뉴노멀 관광 트렌드를 선도하는 고부가 K-관광 콘텐츠 육성 및 시장별 전략적 마케팅 추진</p>
                                        <p>방한관광 본격 재개에 따른 공격적 외래객 유치 마케팅 추진</p>
                                    </div>
                                    <div class="list">
                                        <div class="listText">
                                            <h5>③ MICE 산업 및 업계 지원</h5>
                                        </div>
                                        
                                        <p>코로나 이후 변화한 환경 대응을 위한 업계 지원</p>
                                        <p>MICE행사 유치 확대를 통한 MICE 고유 가치 제고</p>
                                        <p>MICE산업 확장,고도화로 한국 MICE 유치경쟁력 증대</p>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("../footer") %>  