<%- include("../header", {jsFiles: ["subPage.js"]}) %>

    <div id="ethicNormOutline" class="introduction">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">기관소개</h2>
                    <p class="topSubTit">Institution introduction</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">                
                <%- include("../subPageLocation.ejs") %>
                
                <div class="contTitleWrap">
                    <h2 class="contsTitle">윤리·인권 경영</h2>
                    <p class="contSubTitle">관광으로 행복한 나라를 만드는 기업, 한국관광공사입니다.</p>
                </div>

                <div class="contsWrap">
                    <%- include("../subPageMenus.ejs") %>

                    <div class="contsDetail">
                        <div class="content1">
                            <h2 class="detailTitle">윤리·인권경영 소개</h2>
                            <div class="conts">
                                <h3>윤리·인권 헌장</h3>
                                <p>우리 한국관광공사는 관광진흥 사업을 통해 국가경제 발전과 국민복지 증진에 기여해 온 것을 자랑스럽게 생각하며, 국민에게 신뢰받는 글로벌 관광 선도기관으로 지속적으로 발전하기 위해 윤리·인권헌장을 제정하여 이를 적극 실천할 것을 다짐한다.</p>
                                <div class="contWrap">
                                    <ul>
                                        <li><span>1.</span>우리는 기업윤리를 모든 경영활동의 최우선 가치로 생각하며, 경쟁적 이해관계나 단기적인 경영성과 등에 관계없이 지속적으로 윤리경영을 추진한다.</li>
                                        <li><span>2.</span>우리는 기관의 이익이라는 결과가 윤리위반 행위와 같은 부적절한 수단을 정당화할 수 없음을 명확히 인식하고, 법과 원칙을 준수하여 공정하고 투명하게 업무를 수행한다.</li>
                                        <li><span>3.</span>우리는 업무상 취득한 정보를 이용하여 사적인 이득을 취하지 아니하며, 우월적 지위를 이용한 권한 남용, 이권개입, 부당한 알선ㆍ청탁, 금품ㆍ향응 수수 등 청렴성에 위배되는 일체의 행위를 하지 아니한다.</li>
                                        <li><span>4.</span>우리는 임직원 개개인의 인격을 존중하고 차별대우를 하지 않으며, 공평한 기회와 공정한 평가를 보장하는 한편 임직원의 삶의 질 향상을 위해 노력한다.</li>
                                        <li><span>5.</span>우리는 출자회사, 거래업체 등 모든 협력사를 공정하게 대우하며, 윤리ㆍ인권경영을 실천하도록 지원하고 협력한다.</li>
                                        <li><span>6.</span>우리는 관광업계 종사자의 인격을 존중하고 차별대우를 하지 않으며, 공평한 기회 제공 등 인권보호를 위해 노력한다.</li>
                                        <li><span>7.</span>우리는 인간의 존엄과 가치를 존중하는 세계인권선언을 지지하고 이를 실천하기 위해 노력한다.</li>
                                        <li><span>8.</span>우리는 인권, 노동, 환경, 반부패 등의 가치를 지지하는 국제기준 및 규범을 존중하고 지지한다.</li>
                                        <li><span>9.</span>우리는 사회의 구성원으로서 공익활동에 적극적으로 참여하고, 사회적책임 이행과 사회적가치 창출을 통해 국가와 사회의 발전에 공헌한다.</li>
                                        <li><span>10.</span>우리는 사업 수행에 있어 고객의 안전과 권리를 우선적으로 생각하며, 고객의 관점에서 최선의 서비스를 제공하도록 노력한다.</li>
                                    </ul>
                                    <p>한국관광공사 임직원 일동</p>
                                </div>
                            </div>
                        </div>

                        <div class="content2">
                            <h2 class="detailTitle">윤리·인권강령/임직원행동강령</h2>
                            <div class="conts">
                                <div class="contsBox">
                                    <div class="contsBoxText">
                                        <div class="textWrap">
                                            <h5>윤리·인권 강령규정</h5>
                                            <p>주무부서: 윤리법무팀 </p>
                                            <p>개정 : 2022.11.30. 사규 제2022-75호</p>
                                        </div>
                                        <a href="" class="download">다운로드<span class="material-symbols-outlined downloadIcon">download</span></a>
                                    </div>
                                    <div class="contsBoxImg">
                                        <img src="../../img/ethicNormOutline_1.png">
                                    </div>
                                </div>
                                <div class="contsBox">
                                    <div class="contsBoxText">
                                        <div class="textWrap">
                                            <h5>임직원행동강령규정</h5>
                                            <p>주무부서 : 감사팀 </p>
                                            <p>개정 : 2022.8.31. 사규 제2022-53호 </p>
                                        </div>
                                        <a href="" class="download">다운로드<span class="material-symbols-outlined downloadIcon">download</span></a>
                                    </div>
                                    <div class="contsBoxImg">
                                        <img src="../../img/ethicNormOutline_2.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

<%- include("../footer") %>  