<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>알림마당 - 보도자료</title>
    <script src="/js/window.js" defer></script>
    <script src="/js/header.js" defer></script>
    <script src="/js/subPage.js" defer></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("../header") %>

    <div id="press" class="press">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">보도자료</h2>
                    <p class="topSubTit">Korea Tourism Organization Press Release</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">
                <ul class="location">
                    <li><a href="#">Home</a></li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">알림마당</a>
                    </li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">보도자료</a>
                    </li>
                </ul>
                <div class="contTitleWrap">
                    <h2 class="contsTitle">보도자료</h2>
                    <p class="contSubTitle">한국관광공사와 관련된 보도자료들을 확인해보세요.</p>
                </div>

                <div class="contsWrap">
                    <div class="contsDetail">
                        <div class="content1">
                            <form action="" id="boardWrap" class="boardWrap">
                                <div class="boardTop">
                                    <p class="boardNum">총 <span>70</span>건의 보도자료가 있습니다.</p>
                                    <div class="searchForm">
                                        <input class="festivalSearch" type="text" placeholder="검색어를 입력하세요">
                                        <button class="searchBtn" type="submit">
                                            <img src="../../img/ico_board_search_white.svg" alt="">
                                        </button>
                                    </div>
                                </div>
                                <div class="boardBot">
                                    <div class="boradList">
                                        <a href="#">
                                            <div class="imgWrap">
                                                <img src="../../img/press/press_1.jpg">
                                            </div>
                                            <div class="infoWrap">
                                                <h5 class="title">한국관광공사, 배우 차은우 '한국방문의 해 홍보대사'로 위촉</h5>
                                                <p class="context">[서울=뉴스핌] 김용석 기자 = 한국관광공사는 전 세계 MZ세대를 대상으로 '2023~2024 한국방문의 해' 캠페인을 알릴 새 얼굴로 차은우를 선정하고, 23일 공사 하이커 그라운드(HiKR Ground)에서 '2023~2024 한국방문의 해 홍보대사' 위촉식을 열고 차은우를 홍보대사로 임명했다.</p>
        
                                                <div class="infoBot">
                                                    <button class="moreView">자세히보기</button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="boradList">
                                        <a href="#">
                                            <div class="imgWrap">
                                                <img src="../../img/press/press_2.jpg">
                                            </div>
                                            <div class="infoWrap">
                                                <h5 class="title">문체부·관광공사, 2023 챌린지 코리아 콘텐츠 어워즈 개최</h5>
                                                <p class="context">문화체육관광부와 한국관광공사가 '2023 챌린지 코리아(Challenge Korea) 콘텐츠 어워즈'를 개최한다. 한국관광 해외광고에 대한 관심을 이고 참신한 광고 아이디어를 발굴하기 위한 행사다.콘텐츠 어워즈는 '대한민국의 멋', '대한민국의 맛', '대한민국의 밈' 등 3개 분야로 개최된다. </p>
        
                                                <div class="infoBot">
                                                    <button class="moreView">자세히보기</button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="boradList">
                                        <a href="#">
                                            <div class="imgWrap">
                                                <img src="../../img/press/press_3.jpg">
                                            </div>
                                            <div class="infoWrap">
                                                <h5 class="title">한국관광공사, 산불 피해 강릉 지역에 성금 1300여만원 전달</h5>
                                                <p class="context">[서울=뉴스핌] 이현경 기자 = 한국관광공사는 최근 산불 피해를 입은 강릉지역 피해복구와 이재민 지원을 위해 19일 대한적십자사에 성금 1300여만원을 전달했다.이번 성금은 한국관광공사 임직원의 자발적 모금을 통해 마련됐으며 대한적십자사에 전달되어 피해 지역 복구 활동에 쓰일 예정이다. </p>
        
                                                <div class="infoBot">
                                                    <button class="moreView">자세히보기</button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="boradList">
                                        <a href="#">
                                            <div class="imgWrap">
                                                <img src="../../img/press/press_4.jpg">
                                            </div>
                                            <div class="infoWrap">
                                                <h5 class="title">태백 몽토랑 양목장…한국관광공사 추천 가볼만한 여행지</h5>
                                                <p class="context">강원 태백지역의 '핫플레이트' 몽토랑 산양목장이 한국관광공사가 가볼만한 여행지로 선정해 눈길을 끌고 있다.한국관광공사는 가정의 달에 가볼만한 목장 5곳을 엄선한 결과 태백 몽토랑 산양목장과 서울 인근의 원당목장, 평창 애니포레, 증평 벨포레목장, 화순 무등산양떼목장과 어깨를 나란히 했다.</p>
        
                                                <div class="infoBot">
                                                    <button class="moreView">자세히보기</button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="boradList">
                                        <a href="#">
                                            <div class="imgWrap">
                                                <img src="../../img/press/press_5.jpg">
                                            </div>
                                            <div class="infoWrap">
                                                <h5 class="title">코리아씨이오서밋, 이진형 데이터마케팅 대표 및 김장실 한국관광공사 사장 초청 강연회</h5>
                                                <p class="context">
                                                    코리아씨이오서밋(Korea CEO Summuit)이 지난 18일 소노펠리체 컨벤션에서, 이진형 데이터마케팅코리아 대표 및 김장실 한국관광공사 사장을 초청하여 제24회 서밋포럼을 개최했다. 이날 서밋포럼에서는 박봉규 코리아씨이오서밋 이사장이 오는 6월 6~8일 베트남 호치민시에서 개최하는 '도시문화융합컨퍼런스 씨콘(CICON)' 및 '월드블록체인웹3.0 마블스 호치민 2023’ 행사에 대한 소개와 더블어 1교시 진행을 맡았다.</p>
        
                                                <div class="infoBot">
                                                    <button class="moreView">자세히보기</button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="boardBtns">
                                    <a class="newPost" href="#">글쓰기</a>
                                </div>
                            </form>

                            <div class="pagenation">
                                <a class="frontMost" href="#">
                                    <span class="material-symbols-outlined">
                                        keyboard_double_arrow_left</span>
                                </a>
                                <a class="front" href="#">
                                    <span class="material-symbols-outlined">
                                        keyboard_arrow_left</span>
                                </a>
                                <div class="numberWrap">
                                    <a class="number active" href="#">1</a>
                                    <a class="number" href="#">2</a>
                                    <a class="number" href="#">3</a>
                                    <a class="number" href="#">4</a>
                                    <a class="number" href="#">5</a>
                                </div>
                                <a class="back" href="#">
                                    <span class="material-symbols-outlined">
                                        keyboard_arrow_right</span>
                                </a>
                                <a class="backMost" href="#">
                                    <span class="material-symbols-outlined">
                                        keyboard_double_arrow_right</span>
                                </a>
                            </div>
                            <div class="pagenationM">                                
                                <a class="frontMost" href="#">
                                    <span class="material-symbols-outlined pageArrow">
                                        keyboard_double_arrow_left</span>
                                </a>
                                <a class="front" href="#">
                                    <span class="material-symbols-outlined pageArrow">
                                        keyboard_arrow_left</span>
                                </a>
                                <a class="number active" href="#"><span>1</span> / 20</a>
                                <a class="back" href="#">
                                    <span class="material-symbols-outlined pageArrow">
                                        keyboard_arrow_right</span>
                                </a>
                                <a class="backMost" href="#">
                                    <span class="material-symbols-outlined pageArrow">
                                        keyboard_double_arrow_right</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>