#festival {
    .contsDetail {
        > div {
            border-bottom: 1px solid #ccc;
            &:last-child {
                border-bottom: 0;
            }
            .detailTitle {
                margin-bottom: 20px;
            }
            .detailSubText {
                font-size: 2.2rem;
                margin-bottom: 80px;
                line-height: 1.4;
                word-break: keep-all;
            }
        }
        .content1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .boardWrap {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .boardTop {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    .boardNum {
                        font-size: 2rem;
                        font-weight: 400;
                        margin-bottom: 0;
                        span {
                            color: $orange;
                            font-weight: 600;
                        }
                    }
                    .searchForm {
                        display: flex;
                        align-items: center;
                        .selWrap {
                            position: relative;
                            margin-right: 10px;
                            .findBtn {
                                position: relative;
                                .findSelBtn {
                                    display: flex;
                                    align-items: center;
                                    border: 1px solid #ccc;
                                    width: 150px; height: 50px;
                                    padding: 20px;
                                    font-size: 16px;
                                    color: #000;
                                    box-sizing: border-box;
                                }
                                span.moreIcon {
                                    position: absolute;
                                    top: 50%; right: 20px;
                                    transform: translateY(-50%);
                                }
                            }
                            .findSelect {
                                width: 100%;
                                height: 0;
                                position: absolute;
                                top: 50px;
                                background: #fff;
                                border: 0;
                                box-sizing: border-box;
                                z-index: 20;
                                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                                overflow: hidden;
                                transition: all 0.5s;
                                li {
                                    display: flex;
                                    align-items: center;
                                    padding: 20px;
                                    height: 50px;
                                    font-size: 16px;
                                    border-bottom: 0;
                                    box-sizing: border-box;
                                    overflow: hidden;
                                    cursor: pointer;
                                    transition: all 0.5s;
                                    &:last-child {
                                        border-bottom: 0;
                                    }
                                }
                            }
                            .findSelect.on {
                                border: 1px solid #ccc;
                                border-top: 0;
                                height: 100px;
                                li {
                                    border-bottom: 1px solid #ccc;
                                }
                            }
                        }
                        .festivalSearch {
                            width: 350px;
                            height: 50px;
                            box-sizing: border-box;
                            padding: 15px;
                            border: 1px solid #ccc;
                            margin-right: 5px;
                            &::placeholder {
                                font-size: 1.6rem;
                                line-height: 1;
                                color: #999;
                            }
                        }
                        .searchBtn {
                            width: 50px; height: 50px;
                            box-sizing: border-box;
                            border: 0;
                            background: #4A5677;
                            color: #fff;
                        }
                    }
                }
                .boardBot {
                    width: 100%;
                    margin-bottom: 40px;
                    padding: 40px 0;
                    border-top: 1px solid #ccc;
                    .listWrap {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, calc(33.333333% - 30px));
                        grid-gap: 30px;
                        justify-content: space-between;
                        .list {
                            width: 100%;
                            border: 1px solid #e0e0e0;
                            box-sizing: border-box;
                            border-radius: 15px;
                            overflow: hidden;
                            margin-right: 30px;
                            margin-bottom: 30px;
                            transition: all 0.5s;
                            &:nth-child(3n) {
                                margin-right: 0;
                            }
                            &:hover {
                                border-color: $orange;
                                box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.15);
                                a {
                                    .contsWrap {
                                        .button {
                                            span.plus {
                                                color: $orange;
                                            }
                                        }
                                    }
                                }
                            }
                            a {
                                .imgWrap {
                                    width: 100%; height: 250px;
                                    overflow: hidden;
                                    position: relative;
                                    img {
                                        position: absolute;
                                        top: 50%; left: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 100%;
                                    }
                                }
                                .contsWrap{
                                    background: #fff;
                                    padding: 20px 30px 40px;
                                    box-sizing: border-box;
                                    position: relative;
                                    h5 {
                                        font-size: 2.2rem;
                                        line-height: 1.3;
                                        word-break: keep-all;
                                        margin-bottom: 20px;
                                        font-weight: 500;
                                        color: #000;
                                        white-space: normal;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                    > div {
                                        display: flex;
                                        align-items: center;
                                        font-size: 1.6rem;
                                        font-weight: 300;
                                        margin-bottom: 10px;
                                        color: #000;
                                        &:last-child {
                                            margin-bottom: 0;
                                        }
                                        span.icons {
                                            font-size: 1.8rem;
                                            color: $orange;
                                            margin-right: 6px;
                                        }
                                    }
                                    .button {
                                        width: 50px; height: 50px;
                                        position: absolute;
                                        right: 25px; bottom: 25px;
                                        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.12);
                                        border: 0;
                                        background: #fff;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        text-align: right;
                                        border-radius: 50%;
                                        span.plus {
                                            color: #ccc;
                                            font-size: 3rem;
                                            font-variation-settings: "wght" 200;
                                            transition: all 0.5s;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
                .boardBtns {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px;
                .newPost {
                    font-size: 1.6rem;
                    background: #ccc;
                    padding: 15px 40px;
                    color: #Ffff;
                    border-radius: 5px;
                    transition: all 0.5s;
                    &:hover {
                        background: #4A5677;
                    }
                }
                }
            }

            .pagenation {
                display: flex;
                align-items: center;
                a {
                    display: inline-block;
                    width: 40px; height: 40px;
                    border: 1px solid #ccc;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 4px;
                    color: #999;
                    transition: all 0.5s;
                    &:hover {                        
                        color: #4A5677;
                        border-color: #4A5677;
                    }
                }
                a.active {
                    color: #fff;
                    border-color: #4A5677;
                    background: #4A5677;
                }
                .numberWrap {
                    display: flex;
                    a {
                        font-size: 1.6rem;
                    }
                }
            }

            .pagenationM {
                display: none;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    #festival {
        .contsDetail {
            .content1 {
                .boardWrap {
                    .boardTop {
                        .boardNum {
                            margin-bottom: 10px;
                        }
                        .searchForm {
                            margin-bottom: 10px;
                            .selWrap {
                                position: relative;
                                margin-right: 5px;
                                .findBtn {
                                    position: relative;
                                    .findSelBtn {
                                        display: flex;
                                        align-items: center;
                                        border: 1px solid #ccc;
                                        width: 100px; height: 50px;
                                        padding: 10px;
                                        font-size: 16px;
                                        color: #000;
                                        box-sizing: border-box;
                                    }
                                    span.moreIcon {
                                        position: absolute;
                                        top: 50%; right: 10px;
                                        transform: translateY(-50%);
                                    }
                                }
                                .findSelect {
                                    width: 100%;
                                    height: 0;
                                    position: absolute;
                                    top: 50px;
                                    background: #fff;
                                    border: 0;
                                    box-sizing: border-box;
                                    z-index: 20;
                                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                                    overflow: hidden;
                                    transition: all 0.5s;
                                    li {
                                        display: flex;
                                        align-items: center;
                                        padding: 10px;
                                        height: 50px;
                                        font-size: 16px;
                                        border-bottom: 0;
                                        box-sizing: border-box;
                                        overflow: hidden;
                                        cursor: pointer;
                                        transition: all 0.5s;
                                        &:last-child {
                                            border-bottom: 0;
                                        }
                                    }
                                }
                                .findSelect.on {
                                    border: 1px solid #ccc;
                                    border-top: 0;
                                    height: 100px;
                                    li {
                                        border-bottom: 1px solid #ccc;
                                    }
                                }
                            }
                            .festivalSearch {
                                width: 60%;
                            }
                        }

                    }
                    .boardBot {
                        padding: 20px 0;
                        .listWrap {
                            .list {
                                a {
                                    .imgWrap {
                                        width: 100%; height: 220px;
                                    }
    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    #festival {
        .contsDetail {
            .content1 {
                .boardWrap {
                    display: block;
                    width: 100%;
                    .boardTop {
                        width: 100%;
                        display: block;
                        margin-bottom: 20px;
                        .boardNum {
                            font-size: 1.8rem;
                            font-weight: 400;
                            margin-bottom: 10px;
                            span {
                                color: $orange;
                                font-weight: 600;
                            }
                        }
                        .searchForm {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            .festivalSearch {
                                width: 55%;
                                height: 50px;
                                padding: 10px;
                                margin-right: 0;
                                &::placeholder {
                                    font-size: 1.6rem;
                                }
                            }
                            .searchBtn {
                                width: 50px; height: 50px;
                            }
                        }
                    }
                    .boardBot {
                        margin-bottom: 20px;
                        padding: 20px 0;
                        .listWrap {
                            display: block;
                            .list {
                                width: 100%;
                                margin-right: 0;
                                margin-bottom: 20px;
                                &:hover {
                                    border-color: $orange;
                                    box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.15);
                                    a {
                                        .contsWrap {
                                            .button {
                                                span.plus {
                                                    color: $orange;
                                                }
                                            }
                                        }
                                    }
                                }
                                a {
                                    .imgWrap {
                                        width: 100%; height: 200px;
                                    }
                                    .contsWrap{
                                        background: #fff;
                                        padding: 20px 30px 30px;
                                        box-sizing: border-box;
                                        position: relative;
                                        h5 {
                                            font-size: 2.2rem;
                                            margin-bottom: 20px;
                                            font-weight: 500;
                                            color: #000;
                                        }
                                        > div {
                                            display: flex;
                                            align-items: center;
                                            font-size: 1.6rem;
                                            font-weight: 300;
                                            margin-bottom: 10px;
                                            color: #000;
                                            &:last-child {
                                                margin-bottom: 0;
                                            }
                                            span.icons {
                                                font-size: 1.8rem;
                                                color: $orange;
                                                margin-right: 6px;
                                            }
                                        }
                                        .button {
                                            width: 50px; height: 50px;
                                            position: absolute;
                                            right: 25px; bottom: 25px;
                                            box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.12);
                                            border: 0;
                                            background: #fff;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            text-align: right;
                                            border-radius: 50%;
                                            span.plus {
                                                color: #ccc;
                                                font-size: 3rem;
                                                font-variation-settings: "wght" 200;
                                                transition: all 0.5s;
                                            }
                                        }
                                    }
    
                                }
                            }
                        }
                    }
        
                    .boardBtns {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        margin-bottom: 40px;
                        .newPost {
                            font-size: 1.6rem;
                            background: #ccc;
                            padding: 15px 40px;
                            color: #Ffff;
                            transition: all 0.5s;
                            &:hover {
                                background: #4A5677;
                            }
                        }
                    }
                }
    
                .pagenation {
                    display: none;
                }
                .pagenationM {
                    display: flex;
                    align-items: center;
                    a {
                        color: #000;
                        span.pageArrow {
                            font-size: 3rem;
                            font-variation-settings: "wght" 300;
                        }
                    }
                    a.number {
                        font-size: 2rem;
                        margin: 0 20px;
                        span {
                            color: #4A5677;
                        }
                    }
                }
            }
        }
    }
}