<%- include("../header", {jsFiles: []}) %>

    <div id="smart_inquiry_detail" class="customer">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">국민참여</h2>
                    <p class="topSubTit">The Public Participation</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">
                <ul class="location">
                    <li><a href="#">Home</a></li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">국민참여</a>
                    </li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">똑똑한 문의</a>
                    </li>
                </ul>
                <div class="contTitleWrap">
                    <h2 class="contsTitle">똑똑한 문의</h2>
                    <p class="contSubTitle">공사 업무와 관련한 문의를 남겨주시면 빠른 시일 내에 답변 드리겠습니다.</p>
                </div>

                <div class="contsWrap">
                    <div class="contsDetail">
                        <div class="content1">
                            <div class="boardConts">
                                <div class="contsTop">
                                    <div class="titleWrap">
                                        <h3 class="title">2023 숙박대전 관련하여 문의드립니다.</h3>
                                        <p class="uploadDate">2023-05-23</p>
                                    </div>
                                    <div class="metaWrap">
                                        <dl>
                                            <dt>작성자</dt>
                                            <dd>한가희</dd>
                                        </dl>
                                        <dl>
                                            <dt>분류</dt>
                                            <dd>지원사업</dd>
                                        </dl>
                                        <dl>
                                            <dt>이메일</dt>
                                            <dd>test01@naver.com</dd>
                                        </dl>
                                        <dl>
                                            <dt>전화번호</dt>
                                            <dd>010-1234-1324</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="contsBot">
                                    <p>2023 숙박대전 관련하여 문의드립니다.</p>
                                </div>
                            </div>

                            <div class="boardBtns">
                                <div class="editBtns">
                                    <a class="deletePost" href="#">삭제</a>
                                    <a class="editPost" href="#">수정</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

<%- include("../footer") %>  