<%- include("../header", {jsFiles: []}) %>

    <div id="smart_inquiry" class="customer">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">국민참여</h2>
                    <p class="topSubTit">The Public Participation</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">
                <ul class="location">
                    <li><a href="#">Home</a></li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">국민참여</a>
                    </li>
                    <!-- <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">똑똑한 문의</a>
                    </li> -->
                </ul>
                <div class="contTitleWrap">
                    <h2 class="contsTitle">국민참여</h2>
                    <p class="contSubTitle">공사 업무와 관련한 문의를 남겨주시면 빠른 시일 내에 답변 드리겠습니다.</p>
                </div>

                <div class="contsWrap">
                    <div class="contsDetail">
                        <div class="content1">
                            <div class="boardConts">
                                <form action="">
                                    <div class="formWrap">
                                        <div class="name">
                                            <label for="name">성함</label>
                                            <input id="name" type="text" placeholder="성함을 입력하세요">
                                        </div>
                                        <div class="email">
                                            <label for="email">이메일</label>
                                            <input id="email" type="email" placeholder="이메일을 입력하세요">
                                        </div>
                                        <div class="phone">
                                            <label for="phone">전화번호</label>
                                            <input id="phone" type="phone" placeholder="전화번호를 입력하세요">
                                        </div>
                                        <div class="category">
                                            <label for="category">분류</label>
                                            <select name="category" id="category">
                                                <option value="">여행정보</option>
                                                <option value="">지원사업</option>
                                                <option value="">기타</option>
                                            </select>
                                        </div>
                                        <div class="title">
                                            <label for="title">문의제목</label>
                                            <input id="title" type="text" placeholder="제목을 입력하세요">
                                        </div>
                                        <div class="textArea">
                                            <label for="textArea">문의내용</label>
                                            <textarea name="" id="textArea" placeholder="문의하실 내용을 입력해주세요."></textarea>
                                        </div>
                                    </div>

                                    <div class="boardBtns">
                                        <div class="editBtns">
                                            <a class="deletePost" href="#">삭제</a>
                                            <a class="editPost" href="#">수정</a>
                                        </div>
                                        <a class="goList" href="/html/festival/festival.html">등록</a>
                                    </div>
                                </form>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

<%- include("../footer") %>  