<%- include("../header", {jsFiles: [""]}) %>

    <div id="join" class="join">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">회원가입</h2>
                    <p class="topSubTit">Korea Tourism Organization Join Membership</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">
                <div class="contTitleWrap">
                    <h2 class="contsTitle">회원가입</h2>
                    <p class="contSubTitle">한국관광공사의 다양한 서비스를 위해 회원가입을 진행해주세요.</p>
                </div>

                <div class="contsWrap">
                    <div class="contsDetail">
                        <div class="content1">
                            <form action="">
                                <div class="formWrap">
                                    <div class="userId">
                                        <label for="userId">아이디</label>
                                        <input id="userId" type="text" placeholder="아이디를 입력해주세요.">
                                    </div>
                                    <div class="userPass">
                                        <label for="userPass">비밀번호</label>
                                        <input id="userPass" type="password" placeholder="비밀번호를 입력해주세요.">
                                    </div>
                                    <div class="passCheck">
                                        <label for="passCheck">비밀번호 확인</label>
                                        <input id="passCheck" type="password" placeholder="비밀번호를 입력해주세요.">
                                    </div>
                                    <div class="name">
                                        <label for="name">이름</label>
                                        <input id="name" type="text" placeholder="이름을 입력해주세요.">
                                    </div>
                                    <div class="phone">
                                        <label for="phone">전화번호</label>
                                        <input id="phone" type="text" placeholder="전화번호를 입력해주세요.">
                                    </div>
                                    <div class="email">
                                        <label for="email">이메일</label>
                                        <input id="email" type="email" placeholder="이메일을 입력해주세요.">
                                    </div>
                                    <div class="agreement">
                                        <label for="agreement">이용약관</label>

                                        <div class="agreementWrap">
                                            <div class="agreementConts">
                                                <%- include("agreement.ejs") %>
                                            </div>
                                            <div class="agreeCheck">
                                                <input type="checkbox" name="" id="agree">
                                                <label for="agree">이용약관에 동의합니다.</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="boardBtns">
                                    <div class="editBtns">
                                        <a class="deletePost" href="#">삭제</a>
                                        <a class="editPost" href="#">수정</a>
                                    </div>
                                    <a class="goList" href="/html/festival/festival.html">등록</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("../footer") %>  